* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: rgb(255, 255, 255);
}
header {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;

}
.nav-logo {
    display: inline-flex;
    justify-content: flex-end;
}
.nav-links {
    margin-left: auto;
    display: inline-flex;
    justify-content:space-evenly;
    padding-left: 20px;
}

li,a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    
}
.logo {
    cursor:pointer;
    padding-left: 0px;
}



.nav-links li,a,.logo {
    list-style:none;
    
    padding: 0px 30px;
    transition: all 0.3s ease-in-out;
    margin-left:a;
}

.srch {
    margin-left: 50px;
    width: 32px;
    height: 32px;
}
.moon {
    margin-left: 20px;
    width: 25px;
    height: 24px;
}