* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: whitesmoke;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;

}
li,a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    
}
.logo {
    cursor:pointer;
    padding-left: 0px;
}
.logo:hover {
    transition: padding-left 1s ease;
    padding-left: 30px;
}



.nav-links li,a,.logo {
    list-style:none;
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease-in-out;

}



.nav-links li a:hover {
    color: #0088a9;
    padding-inline: 10px;
    

    
}
.contact-button {
    background-color: purple;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
    color: white;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;

}

