* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: grey;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}


.topbar-container {
    display: flex;
    justify-content: space-around;

    
}


.searchicon {
    display: flex;
    width:50px;
    height: 50px;
}

