body {
    margin:0

}

.container {
    border: 6px solid rgb(179, 43, 43);
    display:  flex;
    flex-direction:column;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    height: 800px;
}
.flex-item {
    color: green ;
    font-size: larger;
    padding:1rem;
    text-align: center;
}
 
.item-1 {
    background-color: yellow;

}
.item-2 {
    background-color: green;
}
.item-3 {
    background-color: saddlebrown;
}
.item-4 {
    background-color: rebeccapurple;
}
.item-5 {
    background-color: orangered ;
}
.item-6 {
    background-color: aqua;
}
.item-7 {
    background-color:gold  ;
}
.item-8 {
    background-color: powderblue;
}
.item-9 {
    background-color: indigo;
}