body {
    margin:0

}

.container {
    border: 6px solid rgb(0, 0, 0);
    
}
.flex-item {
    color:cadetblue
}
 
.item-1 {
    background-color: yellow;

}
.item-2 {
    background-color: green;
}
.item-3 {
    background-color: saddlebrown;
}
.item-4 {
    background-color: rebeccapurple;
}
